
.ipynb_checkpoints/Aula 10 - Condições-checkpoint.ipynb
.ipynb_checkpoints/Aula 12 - Condições aninhadas-checkpoint.ipynb
.ipynb_checkpoints/Aula 13 - Estrutura de repetição for-checkpoint.ipynb
.ipynb_checkpoints/Aula 9 - Manipulando texto-checkpoint.ipynb
